<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>{% block title_block%}{% endblock %}</title>
  </head>
  <body>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="sidebar">
      <h2> Raghu's Blog</h2>
      <p>Here you can see Python updates...</p>
    </div>
  </body>
</html>
